{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<h1>Главная страница</h1>
<ul>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Molestiae, non repudiandae. Tempore, commodi?</li>
    <li>Quis inventore est officia facere?</li>
    <li>Odit iste provident sit nemo.</li>
    <li>Aspernatur quasi tenetur quibusdam praesentium.</li>
    <li>A sapiente obcaecati saepe maxime!</li>
    <li>Numquam itaque ipsum nobis quisquam!</li>
    <li>Est, hic veniam! Sequi, illo.</li>
    <li>A est quibusdam animi voluptates.</li>
    <li>Atque, a iste? Aliquam, porro.</li>
    <li>Facilis minus possimus aspernatur tempore!</li>
    <li>Doloribus iusto nobis delectus minus!</li>
    <li>Sequi sed magni ducimus voluptate.</li>
    <li>Neque enim corporis ea quod.</li>
    <li>Itaque dolore molestiae culpa nemo!</li>
    <li>Est neque ipsa sunt ducimus!</li>
    <li>Possimus quo eaque provident accusantium?</li>
    <li>Nesciunt rerum excepturi asperiores odio.</li>
    <li>Laudantium autem commodi cum nostrum.</li>
    <li>Reprehenderit nam iusto placeat aliquid!</li>
    <li>Facere natus adipisci ipsam possimus!</li>
    <li>Dolores maiores labore rerum magnam.</li>
    <li>Atque error necessitatibus tempora nam?</li>
    <li>Nam necessitatibus assumenda esse iste.</li>
    <li>Laboriosam repellendus cumque ut vero.</li>
    <li>Voluptatibus hic ab at cupiditate.</li>
    <li>Tempora porro ut reiciendis autem.</li>
    <li>Error ipsa explicabo repellendus nihil!</li>
    <li>Assumenda rem dolore ullam officia!</li>
    <li>Vero perferendis veniam quidem dignissimos?</li>
    <li>Provident ratione quas aliquid magnam?</li>
    <li>Dolor odit rerum facere totam.</li>
    <li>Delectus neque ad repudiandae nam?</li>
    <li>Eius obcaecati exercitationem nobis earum?</li>
    <li>Aliquam aut quae optio doloribus?</li>
    <li>Voluptatibus asperiores quis a iste.</li>
    <li>Sapiente perferendis at itaque odio.</li>
    <li>Mollitia obcaecati quam non optio.</li>
    <li>Suscipit esse in qui fugiat!</li>
    <li>Architecto molestiae error explicabo sit?</li>
    <li>Ad quo beatae officia ea.</li>
    <li>Ducimus perferendis qui error sapiente?</li>
    <li>Blanditiis id minus dolorem explicabo.</li>
    <li>Magni molestiae eveniet sapiente odit.</li>
    <li>Sed et modi tenetur dolor.</li>
    <li>Vitae impedit quisquam inventore maxime?</li>
    <li>Ipsa rem sint maiores doloremque?</li>
    <li>Blanditiis porro non ducimus magni!</li>
    <li>Facilis fuga voluptas culpa repellat!</li>
    <li>Consequatur animi dolorem sit atque.</li>
    <li>Quo illo atque nam explicabo!</li>
    <li>Ipsam quisquam velit perferendis incidunt.</li>
    <li>Temporibus nulla iusto id perspiciatis?</li>
    <li>Totam cupiditate eligendi repudiandae sunt!</li>
    <li>Temporibus similique hic vero nam!</li>
    <li>Facilis veritatis magni consequuntur cumque?</li>
    <li>Earum laborum illum saepe? Aperiam.</li>
    <li>Eum placeat fugit quaerat sed.</li>
    <li>Autem ex distinctio accusamus adipisci.</li>
    <li>Nesciunt, consequatur. Rerum, alias veniam.</li>
    <li>A saepe ut quam iste.</li>
    <li>Natus animi error iusto molestias.</li>
    <li>Facilis neque maxime laborum ratione.</li>
    <li>Temporibus aliquam sed corrupti alias?</li>
    <li>Facere eum cupiditate expedita corporis.</li>
    <li>Cumque saepe laudantium quos magni?</li>
    <li>Voluptate fugit exercitationem iure minima.</li>
    <li>Molestiae, unde! Soluta, temporibus architecto!</li>
    <li>Ipsa vero unde numquam tenetur!</li>
    <li>Natus voluptas dolore deserunt nisi.</li>
</ul>                                                 
{% endblock %}